# db
POSTGRES_USER=
POSTGRES_PASSWORD=

# notification
NOTIFICATION_SERVER_PORT=
NOTIFICATION_DB_PORT=
NOTIFICATION_DB=

# redis
SPRING_DATA_REDIS_PORT=
SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PASSWORD=
SPRING_DATA_REDIS_URL=

# kafka
KAFKA_PORT=
KAFKA_UI_PORT=
KAFKA_INTERNAL_PORT=
KAFKA_EXTERNAL_PORT=

# zookeeper
ZOOKEEPER_CLIENT_PORT=

# openai
OPENAI_API_KEY=